.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    transition: margin .20s linear;
}

.slideMainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 160px;
    transition: margin .20s linear;
    background-color: yellowgreen;
    height: 40%;
}

.noteCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: cadetblue;
    margin-top: 2em;

}

.gridView{
    display: flex;

}

.listView{
    display: flex;
    width: 570px;
    max-width: 570px;
    background-color: blueviolet;
    margin: auto;
}